
.browser-controls {
    width: 200px;
    display: flex;
    flex: 0 0 200px;
    /*-webkit-app-region: auto;*/
}

.browser-controls div {
    flex: 1 0 0;
    position: relative;
    cursor: pointer;
}

#refresh svg {
    margin-top: -1px;
}

.browser-controls div:hover svg use {
    /*fill: ;*/
}

.browser-controls svg {
    position: absolute;
    left:9px;
    top:7px;
}

.browser-controls svg use {
    fill: rgba(0, 20, 4, 0.13);
}

.collection-tabs {
    position: absolute;
    top:0;
    display: flex;
    height: 34px;
    z-index: 1111;
    width: 100%;
    background-color:#DBE5F6;
    /*-webkit-appearance: none;*/
    /*-webkit-user-select: auto;*/
    /*-webkit-app-region: drag;*/
}

#collection-tabs {
    display: flex;
    width: 100%;
    height: 100%;
}

#collection-tabs > div  {
    flex: 0 0 20%;
    /*-webkit-app-region: drag;*/
    box-sizing: border-box;
    padding: 11px 0 9px 30px;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    max-width: 20%;
    cursor: pointer;
    transition: none;
    color: #555;

}

#collection-tabs > div.active-tab {
    background: #E7F1FE;
    color: #000;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    max-width: 20%;
    font-weight: bold;

}