#webviews {
	height: calc(100vh - 70px);
	width: 100%;
	/*transition: all .3s;*/
	position: absolute;
	right: 0;
}
#webpreview {
	display: none;
	height: calc(100vh - 70px);
	width: 100%;
	/*transition: all .3s;*/
	position: absolute;
	right: 0;
}
#webviews webview {
	height: 100%;
	width: 100%;
	outline: none;
	position: absolute;
}
#webviews webview[hidden] {
	display: flex !important;
	visibility: hidden;
}
#webviews webview.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 99;
}

/* hack to work around display: none issues with webviews */

#webviews.hidden {
	visibility: hidden;
}
